*{
    font-family: 'Big Shoulders Text', cursive; 
    overflow-x: hidden;
}
nav{
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 8vh;
    align-items: end;
}
nav a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;

}
.bgimg{
    background-image: url(petr-sevcovic-qE1jxYXiwOA-unsplash.jpg);
    height: 100vh;
    width: 100%;
    justify-content: center;
    background-size: cover;

}
.head1 h1{
    color: #fff;
    font-size: 58px;
    font-weight: 700;
    font-family: sans-serif;
}
.head1{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.button{
    display: flex;
    justify-content: center;
}
.button button{
    border-radius: 0%;
    font-family: sans-serif;
}
.text-center{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: larger;
    font-weight: 600;
    justify-content: center;
   
}
.foot{
    padding: 3%;
    gap: 90px;
    margin-left: 15%;
}
.tittle-1 ,.tittle-2 ,.tittle-3{
    line-height: 30px;
}
.tittle-1 input{
    width: 250px;
    height: 46px;
}
@media screen and (max-width:770px) {
    .text-center{
        margin-top: 17%;
    }
    .slides{
        margin-top: 5%;
    }

}
@media screen and (max-width:800px) {
    .foot{
        flex-direction: column;
    }
}

